<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>check user</title>
</head>
<body>

	<div>
		<div>
		    <h5>본인 확인</h5>
		</div>
	</div>
    <form th:action="@{/user/check}" th:object="${checkRequest}" method="post">
        <!-- 오류 표시할 내용 -->
        <div role="alert" th:if="${#fields.hasAnyErrors()}">
        	<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <div>
            <label for="username">이메일</label>
            <input type="text" th:field="*{username}" th:errorclass="error-input">
            <div class="error-class" th:errors="*{username}"></div>
        </div>
        <div>
            <label for="tel" class="form-label">연락처</label>
            <input type="tel" th:field="*{tel}" th:errorclass="error-input">
             <div class="error-class" th:errors="*{tel}"></div>
        </div>
        <input type="submit" value="본인 확인 하기">
	</form>

</body>
</html>