<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>resign</title>
</head>
<body>

	<div>
		<div>
		    <h5>회원 탈퇴</h5>
		</div>
	</div>
    <form th:action="@{/user/resign}" th:object="${resignRequest}" method="post">
        <!-- 오류 표시할 내용 -->
        <div role="alert" th:if="${#fields.hasAnyErrors()}">
        	<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <div>
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password}" th:errorclass="error-input">
             <div class="error-class" th:errors="*{password}"></div>
        </div>
        <div>
            <label for="passwordCheck">비밀번호 확인</label>
            <input type="password" th:field="*{passwordCheck}" th:errorclass="error-input">
             <div class="error-class" th:errors="*{passwordCheck}"></div>
        </div>
        <input type="submit" value="탈퇴하기">
	</form>

</body>
</html>