<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>login/sign_up.html</title>
</head>
<body>

	<div>
		<div>
		    <h5>회원가입</h5>
		</div>
	</div>
    <form th:action="@{/yeon/signup}" th:object="${memberCreateForm}" method="post">
	    <div>
	        <label for="username">사용자명</label>
	        <input type="text" th:field="*{username}" th:value="${memberCreateForm.username}" readonly>
	    </div>
	    <div>
	        <label for="nickname">닉네임</label>
	        <input type="text" id="nickname" th:field="*{nickname}">
	        <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>
	    </div>
	    <input type="submit" value="회원가입">
	</form>

</body>
</html>