<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Course Detail</title>
</head>
<body>
<h2>course/detail</h2>

<!-- 코스 정보 -->
<div>
	<ul>
		<li>
			<strong>코스명:</strong> <span th:text="${course.title}"></span>
		</li>
		<li>
			<strong>코스 좋아요 수:</strong> <span th:text="${course.likeCount}"></span>
		</li>
		<li>
			<strong>코스 조회수:</strong> <span th:text="${course.viewCount}"></span>
		</li>
		<li>
			<strong>코스 생성일자:</strong> <span th:text="${#temporals.format(course.createDate, 'yyyy-MM-dd HH:mm')}"></span>
		</li>
		<li>
			<strong>코스 수정일자:</strong> <span th:text="${#temporals.format(course.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
		</li>
	</ul>
</div>

<!-- 코스의 장소 목록 -->
<div>
    <ul th:each="courseList : ${course.courseList}">
        <li th:each="place : ${courseList.place}">
            <ul>
                <li>
                    <strong>장소명:</strong> <span th:text="${place.title}"></span>
                </li>
                <li>
                    <strong>썸네일:</strong> <img th:src="${place.imageFile2}" alt="">
                </li>
                <li>
                    <strong>장소유형:</strong> <span th:text="${place.type}"></span>
                </li>
                <li>
                    <strong>장소 주소:</strong> <span th:text="${place.address}"></span>
                </li>
                <li>
                    <strong>장소 좋아요 수:</strong> <span th:text="${place.likeCount}"></span>
                </li>
                <li>
                    <strong>장소 조회수:</strong> <span th:text="${place.viewCount}"></span>
                </li>
                <li>
                    <strong>장소 위도:</strong> <span th:text="${place.latitude}"></span>
                </li>
                <li>
                    <strong>장소 경도:</strong> <span th:text="${place.longitude}"></span>
                </li>
            </ul>
        </li>
    </ul>
</div>

<!-- 코스 후기 -->
<div>
	
</div>

</body>
</html>