<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Course Detail</title>
</head>
<body>
<h2>course/detail</h2>

<!-- 코스 정보 -->
<div>
	<ul>
		<li>
			<strong>코스명:</strong> <span th:text="${course.title}"></span>
		</li>
		<li>
			<strong>코스 상세설명:</strong> <span th:text="${course.description}"></span>
		</li>
		<li>
			<strong>코스 조회수:</strong> <span th:text="${course.viewCount}"></span>
		</li>
		<li> <!-- Todo: 좋아요 중복 비허용, 좋아요 취소는 토글로 처리 -->
            <a th:href="@{|/course/like/${course.courseSeq}|}">좋아요</a>
            <a th:href="@{|/course/removeLike/${course.courseSeq}|}">좋아요 취소</a>
            <span th:text="${course.likeCount}"></span>
        </li>
		<li>
			<strong>코스 생성일자:</strong> <span th:text="${#temporals.format(course.createDate, 'yyyy-MM-dd HH:mm')}"></span>
		</li>
		<li>
			<strong>코스 수정일자:</strong> <span th:text="${#temporals.format(course.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
		</li>
	</ul>
</div>

<!-- 코스의 장소 목록 -->
<div>
    <ul th:each="courseList : ${course.courseList}">
        <li th:each="place : ${courseList.place}">
            <ul>
            	<li>
                    <strong>썸네일:</strong> <img th:src="${place.imageFile2}" alt="">
                </li>
                <li>
                    <strong>장소유형:</strong> <span th:text="${place.type}"></span>
                </li>
                <li>
                    <strong>장소명:</strong> <span th:text="${place.title}"></span>
                </li>
                <li>
                    <strong>장소 주소:</strong> <span th:text="${place.address}"></span>
                </li>
                <li>
                    <strong>장소 좋아요 수:</strong> <span th:text="${place.likeCount}"></span>
                </li>
                <li>
                    <strong>장소 조회수:</strong> <span th:text="${place.viewCount}"></span>
                </li>
                <li>
                    <strong>장소 위도:</strong> <span th:text="${place.latitude}"></span>
                </li>
                <li>
                    <strong>장소 경도:</strong> <span th:text="${place.longitude}"></span>
                </li>
            </ul>
        </li>
    </ul>
</div>

<!-- 코스 후기 목록 -->
<h5 th:text="|${#lists.size(course.reviewList)}개의 답변이 있습니다.|"></h5>

<div>
    <ul>
        <li th:each="review : ${paging.content}">
        	<ul>
        		<li>
        			<strong>댓글 작성자:</strong> <span th:text="${review.user != null ? review.user.username : ''}"></span>
        		</li>
        		<li>
        			<strong>댓글 내용:</strong> <span th:text="${review.content}"></span>
        		</li>
        		<li>
        			<strong>댓글 작성일자:</strong> <span th:text="${review.createDate}"></span>
        		</li>
        		<li> <!-- Todo: 수정일자가 존재할 경우 수정일자 값 대신 '수정됨'이라는 텍스트 출력돼야함 -->
        			<strong>댓글 수정일자:</strong> <span th:text="${review.modifyDate}"></span>
        		</li>
        		<!-- 
        		<li>
        			<a href="javascript:void(0);" class="recommend"
                	th:data-uri="@{|review/recommend/${review.reviewSeq}|}">추천</a>
                	<span th:text="${review.recommendaCount}"></span>
        		</li>
        		 -->
        	</ul>
        	
        	<div> <!-- Todo: 댓글 작성자와 로그인한 사용자 정보를 대조해서 일치하는 사용자에게만 버튼이 나타고 수정 및 삭제할 수 있게 해야함 -->
        		<a th:href="@{|/review/modify/${review.reviewSeq}|}">수정</a>
        		
        		<a href="javascript:void(0);" 
        		class="delete"
        		th:data-uri="@{|/review/delete/${review.reviewSeq}|}">삭제</a>
        	</div>
        </li>
    </ul>
</div>

<!-- 코스 후기 작성란 -->
<div>
	<form th:action="@{|/review/create/${course.courseSeq}|}" method="post" th:object="${reviewForm}">
		<div role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
    	<textarea th:field="*{content}" name="content" id="content" rows="15"></textarea>
    	<input type="submit" value="댓글 등록">
	</form>
</div>
 
<!-- 자바스크립트 -->
<script type="text/javascript">

// 댓글삭제
	const delete_element = document.querySelectorAll('.delete');

	Array.from(delete_element).forEach(
		function(elem) {
			elem.addEventListener('click', function() {
				if (confirm("삭제하시겠습니까?")) {
					location.href = this.dataset.uri;
				}
			});
		}		
	);
	
// 추천
	const recommend_element = document.querySelectorAll('.recommend');
	
	Array.from(recommend_element).forEach(
		function(elem) {
			elem.addEventListener('click', function() {
				if (confirm("추천하시겠습니까?")) {
					location.href = this.dataset.uri;
				}
			});
		}
	);
</script>

</body>
</html>