<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
</head>
<body>
	<div>
		<div>
		    <h5>회원가입</h5>
		</div>
	</div>
    <form th:action="@{/user/join}" th:object="${joinRequest}" method="post">
        <!-- 오류 표시할 내용 -->
        <div role="alert" th:if="${#fields.hasAnyErrors()}">
        	<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        
        <div>
            <label for="username">이메일</label>
            <input type="text" th:field="*{username}" th:errorclass="error-input">
            <div class="error-class" th:errors="*{username}"></div>
        </div>
        <div>
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password}" th:errorclass="error-input">
             <div class="error-class" th:errors="*{password}"></div>
        </div>
        <div>
            <label for="passwordCheck">비밀번호 확인</label>
            <input type="password" th:field="*{passwordCheck}" th:errorclass="error-input">
             <div class="error-class" th:errors="*{passwordCheck}"></div>
        </div>
        <div>
            <label for="tel">연락처</label>
            <input type="text" th:field="*{tel}">
             <div class="error-class" th:errors="*{tel}"></div>
        </div>
        <input type="submit" value="회원가입">
	</form>

</body>
</html>