<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1" >
        <thead>
            <tr>
                <th>장소 이미지</th>
                <th>장소명</th>
                <th>주소</th>
                <th>상세주소</th>
                <th>좋아요</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="place, loop : ${paging}">
                <td style="max-width: 100px; overflow: hidden;"><img style="max-width: 100px;" th:src="${place.getImageFile2()}" th:alt="${place.getTitle()}"></td>
                <td><a href="#" th:text="${place.getTitle()}"></a></td>
                <td th:text="${place.getAddress()}"></td>
                <td th:text="${place.getAddressDetail()}"></td>
                <td th:text="${place.getLikeCount()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>